<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="BIN">
      <Component Id="c_bsondump" Guid="DEEA45CA-5175-453B-9D0B-6168B4C0C891">
        <File Id="f_bsondump" Name="bsondump.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\bsondump.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongo" Guid="395C3DA5-A905-409C-AD96-29BFFF5E12D6">
        <File Id="f_mongo" Name="mongo.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongo.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongod" Guid="7EDFB4A2-5A45-4C41-8F6D-976558B3A9D6">
        <File Id="f_mongod" Name="mongod.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongod.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongodump" Guid="FFE32884-ACAD-4EC6-AF84-6BC94F55819E">
        <File Id="f_mongodump" Name="mongodump.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongodump.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongoexport" Guid="FD5FFDE2-53A1-45F3-9CCA-3AC311DF647C">
        <File Id="f_mongoexport" Name="mongoexport.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongoexport.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongofiles" Guid="CF8696D3-92B4-4CB9-B4D0-16155D726FE6">
        <File Id="f_mongofiles" Name="mongofiles.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongofiles.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongoimport" Guid="A4C06F69-2BB3-4068-A7E7-25347CCF01DE">
        <File Id="f_mongoimport" Name="mongoimport.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongoimport.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongorestore" Guid="72A16D11-242E-4368-93C9-5F6162C548FC">
        <File Id="f_mongorestore" Name="mongorestore.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongorestore.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongos" Guid="3CA63864-9FA0-4DAE-A664-2BE9A157FB60">
        <File Id="f_mongos" Name="mongos.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongos.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongostat" Guid="0A881C85-AB39-4247-BADD-C8191F2FFF0C">
        <File Id="f_mongostat" Name="mongostat.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongostat.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
      <Component Id="c_mongotop" Guid="616C562D-0504-4F2D-A6E7-CC21A58F9F81">
        <File Id="f_mongotop" Name="mongotop.exe" Source="C:\mongo\mongodb-win32-x86_64-2008plus-2.0.4\bin\mongotop.exe"
              DiskId ="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>