<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MONGODB" Name="MongoDB">
          <Directory Id="INSTALLLOCATION" Name="$(var.ProductVersion)">
            <Directory Id="BIN" Name="bin" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <?undefine Version?>
  </Fragment>
</Wix>